
# BEGIN Robin Image Optimizer Webp
# Директивы (строки) между `BEGIN Robin Image Optimizer Webp` и `END Robin Image Optimizer Webp`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.

# END Robin Image Optimizer Webp